/* ===== Gallery ===== */
.gallery {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 4em;
}
.gallery__item {
  flex: 1;
  width: 18rem;
  display:inline-block; 
  cursor:pointer; 
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius);

}

.gallery__item:hover {
  transform: scale(1.05);
}

.gallery__item:hover .hidden-text{
  opacity: 0.7;
  pointer-events: auto;
  padding: 0.2rem 0.8rem;
  border-radius: 0.3rem;
  font-family: 'crimson text', serif;
  color: white;
  text-align: center;
}

.hidden-text {
  position: fixed;
  bottom: 1.5rem;   /* 24 px above the viewport bottom */
  left: 50%;        /* horizontally centered */
  transform: translateX(-50%);
  background:black; 
  padding:0.5rem;
  width: 100%;
  opacity:0; pointer-events:none; transition:opacity .25s;
}

@media (max-width: 800px){
  .gallery {
    flex-direction: column;
  }
  .gallery__item {
    flex: 1;
    width: 100%;
  }
}
